body {
    background-color: lightblue;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    background-color: steelblue;
}

h3 {
    background-color: skyblue;
    color: white;
}

p {
    text-align: justify;
}

blockquote {
    font-style: oblique;
}

pre {
    background-color: white;
    font-weight: bold;
}

address {
    font-family: serif;
    font-style: normal;
    text-align: right;
}